th {
    border: 1px solid rgb(0, 0, 0);
}

table {
    border: 1px solid #000;
}

.linha1 {
	color: white;
	background-color: green;	
}

.linha2 {
	color: green;
	background-color: cyan;	
}

caption {
	padding: 10px;
	
}

a {
	padding: 10px;
}